<div>
  <h2>Engineer Turned Astrologer</h2>
  <p>Welcome! My name is Rahul Bali, and my journey from engineering to astrology has been an exciting and
    transformative one. After years of working in the field of engineering, where I honed my analytical skills and
    problem-solving abilities, I found a new passion in astrology. This shift allowed me to explore the mystical side
    of life and provide insightful guidance based on celestial phenomena.</p>

  <h2>Educational Background</h2>
  <ul class="education-list">
    <li>
      <strong>Bachelor of Engineering</strong>
      <p>Specialized in Cloud Technologies, where I developed a strong foundation in technical and
        analytical skills.</p>
    </li>
    <li>
      <strong>Certified Astrologer</strong> - Brihat Parashar Hora Shashtra, [Year]
      <p>Completed comprehensive training in astrology, including natal charts, planetary influences, and predictive
        techniques.</p>
    </li>
    <li>
      <strong>Master's Degree in [Relevant Field, if applicable]</strong> - [University Name], [Year]
      <p>Further enhanced my knowledge and skills, providing a deeper understanding of [Relevant Field].</p>
    </li>
  </ul>

  <p>Transitioning from an engineer to an astrologer has been a fulfilling experience, allowing me to blend logic with
    intuition and offer unique perspectives. I look forward to sharing my insights and helping others navigate their
    own journeys through astrology.</p>
</div>

<div>
  <h3>Contact Me</h3>
  <p>If you have any questions or would like to get in touch, please use the contact information below.</p>

  <h4>Email</h4>
  <p>You can reach me at: <a href="mailto:rahulbaliastrology@gmail.com">rahulbaliastrology@gmail.com</a></p>

  <h4>Social Media</h4>
  <p>Feel free to message me at Instagram or Twitter for anonymous readings.</p>

  <h4>Address</h4>
  <p>Gurgaon, Haryana<br>

</div>

<div class="bttns">
  <a href="/" class="bttn primary">Home</a>
</div>
