<h2>
  Vedic Jyotish: Your Compass for Achieving Success while embracing the Divine Design of your Life's Journey.
</h2>
<div class="bttns">
  <a href="#" class="bttn primary">Send message on Instagram</a>
</div>


<div class="forms">
  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
  <form (ngSubmit)="onSubmit()">
    <!-- <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"> -->
    <!-- <input type="text" class="form-control" id="name" required name="name"> -->
  </form>
</div>
