<div class="logo">
  <!-- <img src="https://user-images.githubusercontent.com/43764894/223549637-2715c89d-a44e-42e0-8f6c-fa6246279658.png"> -->
  <!-- <img src="https://raw.githubusercontent.com/snapfast/rahul_bali_astrology/main/src/app/img/vishnuji_medium.jpg"> -->
  <h2>Send the Screenshot about your payment: </h2>
  <!-- <h2>ॐ विश्वं विष्णु: वषट्कारो भूत-भव्य-भवत-प्रभुः । भूत-कृत भूत-भृत भावो भूतात्मा भूतभावनः ।।</h2> -->
</div>
<h2>
  Once payment done, continue below...
</h2>
<div class="bttns">
  <a href="https://calendly.com/rahulbaliastrology/kundli" class="bttn primary">Continue</a>
</div>


<div class="forms">
  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
  <form (ngSubmit)="onSubmit()">
    <!-- <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"> -->
    <input type="text" class="form-control" id="name" required name="name">
  </form>
</div>
