<div class="logo">
  <!-- <img src="https://user-images.githubusercontent.com/43764894/223549637-2715c89d-a44e-42e0-8f6c-fa6246279658.png"> -->
  <!-- <img src="https://raw.githubusercontent.com/snapfast/rahul_bali_astrology/main/src/app/img/vishnuji_medium.jpg"> -->
  <h2>ॐ नमो भगवते वासुदेवाय नम:</h2>
  <!-- <h2>ॐ विश्वं विष्णु: वषट्कारो भूत-भव्य-भवत-प्रभुः । भूत-कृत भूत-भृत भावो भूतात्मा भूतभावनः ।।</h2> -->
</div>
<h2>
  With Vedic Jyotish, find Clarity and Purpose: Balancing your Goals with the Intricate Dance of Fate and Karma.
</h2>

<img src="https://raw.githubusercontent.com/snapfast/rahul_bali_astrology/main/src/app/img/PhonePeQR.png" width="200px">

<div class="timer-container">
  <h4>Time Left: {{ remainingTime }}</h4>
  <p>Please scan QR and pay using UPI. Write your email in the UPI remarks. This help us maintain record of payment.</p>
</div>

<div class="bttns">
  <a href="https://calendly.com/rahulbaliastrology/kundli" class="bttn primary">Continue</a>
</div>