<h3>
  With Vedic Jyotish, find Clarity and Purpose: Balancing your Goals with the Intricate Dance of Fate and Karma.
</h3>

<div *ngIf="loading; else qr">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>

<ng-template class="timer-container" #qr>

  <!-- <img src="https://raw.githubusercontent.com/snapfast/rahul_bali_astrology/main/src/app/img/PhonePeQR.png" width="300px"> -->
  <img src="https://raw.githubusercontent.com/snapfast/rahul_bali_astrology/main/src/app/img/upi_250.png" width="400px">
  <div>
    <h4 color="red">Time Left: {{ remainingTime }}</h4>
    <p><strong>After payment continue with booking the time slot.</strong></p>
  </div>

</ng-template>

<div class="bttns">
  <!-- <a href="https://calendly.com/rahulbaliastrology/kundli" class="bttn primary">Book your time</a> -->

  <a *ngIf="!isProcessing" (click)="handleContinue()" class="bttn primary">Continue with Booking</a>

  <div *ngIf="isProcessing" class="spinner-overlay">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

</div>